@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  z-index: -1;
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}


  body {
    display: flex;
  }

